<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="log4net" type="System.Configuration.IgnoreSectionHandler"/>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RSAKeyGenerator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <RSAKeyGenerator.Properties.Settings>
            <setting name="RSAPublicKeyFileName" serializeAs="String">
                <value>RSA Public Key.txt</value>
            </setting>
            <setting name="RSAPrivateKeyFileName" serializeAs="String">
                <value>RSA Private Key.txt</value>
            </setting>
        </RSAKeyGenerator.Properties.Settings>
    </applicationSettings>
    <log4net>
      <!-- Output to a daily rolling log file -->
      <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
        <file value=""/>
        <appendToFile value="true"/>
        <rollingStyle value="Composite"/>
        <staticLogFileName value="false"/>
        <maximumFileSize value="20mb"/>
        <datePattern value="yyyy-MM-dd&quot;.RSAKeyGenerator.log&quot;"/>
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%date [%thread] %-5level %logger %message%newline"/>
        </layout>
      </appender>
      <!-- Setup the root category, add the appenders and set the default level -->
      <root>
        <appender-ref ref="RollingLogFileAppender"/>
      </root>
    </log4net>
</configuration>